<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>

<section>
    <h1>PersonalHub Admin</h1>
    <form method="post" action="/admin/login">
        <input name="username" placeholder="用户名">
        <br>
        <input name="password"
               type="password"
               placeholder="密码">
        <br>
        <button>登录</button>
    </form>
    <p th:text="${error}"></p>
</section>

</body>

</html>