<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dylan.personalhub.mapper.PersonMapper">


    <select id="findFirst"
            resultType="Person">

        SELECT
        id,
        name,
        title,
        description,
        email,
        github,
        avatar,
        create_time

        FROM person

        LIMIT 1

    </select>


</mapper>