<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dylan.personalhub.mapper.ProjectMapper">


    <select id="findAll"
            resultType="com.dylan.personalhub.entity.Project">


        SELECT

            id,

            name,

            description,

            tech_stack,

            github_url,

            image,

            category,

            status,

            create_time,

            update_time


        FROM project


        ORDER BY update_time DESC


    </select>


    <select id="findById"
            resultType="com.dylan.personalhub.entity.Project">

        SELECT

            id,

            name,

            description,

            tech_stack,

            github_url,

            image,

            category,

            status,

            create_time,

            update_time

        FROM project

        WHERE id = #{id}

    </select>


    <insert id="insert">
        INSERT INTO project
        (
            name,
            description,
            tech_stack,
            github_url,
            image,
            category,
            status,
            create_time,
            update_time
        )
        VALUES
        (
            #{name},
            #{description},
            #{techStack},
            #{githubUrl},
            #{image},
            #{category},
            #{status},
            NOW(),
            NOW()
        )
    </insert>


    <update id="update">
        UPDATE project
        SET
            name        = #{name},
            description = #{description},
            tech_stack  = #{techStack},
            github_url  = #{githubUrl},
            image       = #{image},
            category    = #{category},
            status      = #{status},
            update_time = NOW()
        WHERE id = #{id}
    </update>


    <delete id="deleteById">
        DELETE FROM project
        WHERE id = #{id}
    </delete>


</mapper>